@font-face {
   font-family: '吉页大儒宋体繁-怀旧版';
   font-display: swap;
   src: url('吉页大儒宋体繁-怀旧版/font.ttf');
}
@font-face {
   font-family: '憚珜湮趼极楛';
   font-display: swap;
   src: url('憚珜湮趼极楛/font.ttf');
}
