@font-face {
   font-family: '憚珜湮趼极楛';
   font-display: swap;
   src: url('file:///Users/user/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-01-04_000422/fonts/%E6%86%9A%E7%8F%9C%E6%B9%AE%E8%B6%BC%E6%9E%81%E6%A5%9B/font.ttf');
}
